body {
	/*background-color: #11345A; */ /* dark blue */
	background-image:url('../img/techtower.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

.make-serif {
	font-family: 'Times New Roman', serif;
}

#lavender_nav {
	background-color: #FFF;
	border-top: 5px solid #CFB53B;
	min-height: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center {
    text-align:center;
}

.lav-container {
	color: #DDD;
	background-color: rgba(255,255,255,0.1);
	border-radius: 5px;
	max-width: 600px;
	margin: 80px auto 20px;
	padding: 20px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #666;
}

.lavender-menu li {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
	line-height: 14px;
}

.lavender-menu li a {
	border-radius: 10px;
	padding: 5px 10px;
}

.lav-content {
	
}
.tab-content {
	overflow: visible;
}

.section {
	color: #666;
	background-image:url('../img/lightpaperfibers.png');
	border-radius: 3px;
	padding: 20px;
	text-shadow: none;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}

.section p {
	margin-bottom: 30px;
}

.section-img {
	border-radius: 3px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	overflow: hidden;
	margin-bottom: 20px;
}

.lav-foot {
	margin-top: 50px;
	margin-bottom: 20px;
}