body {
	/*background-color: #11345A; */ /* dark blue */
	background-image:url('../img/techtower.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

.make-serif {
	font-family: 'Times New Roman', serif;
}

#lavender_nav {
	background-color: #FFF;
	border-top: 5px solid #CFB53B;
	min-height: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lav-container {
	color: #FFF;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
	max-width: 600px;
	margin: 90px auto 0;
	padding: 50px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #666;
}


.menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	line-height: 24px;
}

.menu li a {
	border-radius: 10px;
	padding: 5px 10px;
}

.lav-content {
	margin-top: 50px;
	width: 100%;
}

.section {
	margin: 0 75px 40px;
	padding-bottom: 40px;
}

.section p {
	margin-top: 40px;
}

.section span {
	color: #8BAAAB;
}

.lav-foot {
	margin-top: 50px;
	margin-bottom: 20px;
}